.navigation-box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  line-height: 60px;
  width: 100%;
  height: 60px;
  background-color: #fff;
  font-size: 32rpx;
  color: #999;
  border-top: 1rpx solid #ddd;
  .navigation-item{
    height: 57px;
    padding: 0 11px;
    border-bottom: 3px solid #fff;
  }
  .navigation-select{
    color: #333;
    border-bottom-color: #FFDB08;
  }
}
.send-body{
  margin-top: 20rpx;
  .no-store{
    height: 80rpx;
    line-height: 80rpx;
    font-size: 26rpx;
    color: #ff908d;
    background: #FFFAf4;
    padding: 0 30rpx;
    margin-top: -20rpx;
  }
  .form-top{
    padding-left: 30rpx;
    background: #fff;
    .arrow{
      padding-right: 30rpx;
    }
  }
  .top-item{
    height: 110rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    &:last-child .form-box{
      border-bottom: 1rpx solid #f7f7f7;
    }
  }
  .sotre-item{
    font-size: 28rpx;
    .arrow{
      position: absolute;
      top: 36rpx;
      right: 0;
    }
  }
  .address-item{
    height: 160rpx;
  }
  .form-box{
    position: relative;
    width: 650rpx;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1rpx solid #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .empty-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .address-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    .info{
      width: 490rpx;
      height: 80rpx;
      box-sizing: border-box;
      .top{
        font-size: 34rpx;
        color: #333;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .phone{
        padding-left: 10rpx;
      }
      .address{
        font-size: 28rpx;
        color: #999;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    .edit{
      width: 160rpx;
      height: 80rpx;
      line-height: 80rpx;
      font-size: 28rpx;
      color: #1D61F0;
      text-align: center;
      box-sizing: border-box;
      border-left: 1rpx solid #eee;
    }
  }
  .store-img{
    width: 40rpx;
    height: 40rpx;
    margin-right: 33rpx;
  }
  .address-img{
    width: 40rpx;
    height: 48rpx;
    margin-right: 33rpx;
  }
  .sel-store{
    color: #ccc;
  }
  .store-picker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 36rpx;
  }
  .goods-picker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 36rpx;
  }
  .time-picker{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 36rpx;
    .time{
      position: absolute;
      top: 0;
      right: 60rpx;
      height: 100%;
      box-sizing: border-box;
      padding-top: 34rpx;
    }
  }
  .arrow{
    width: 34rpx;
    height: 34rpx;
  }
  .form-middle{
    background: #fff;
    margin-top:20rpx; 
  }
  .middle-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 110rpx;
    font-size: 28rpx;
    border-bottom: 1rpx solid #eee; 
    .label{
      width: 200rpx;
      box-sizing: border-box;
      padding-left: 30rpx;
      text{
        margin-left: 10rpx;
        font-size: 24rpx;
        color: #151515;
      }
    }
    &:last-child{
      border-bottom: 1rpx solid #f7f7f7; 
    }
  }
  .middle-box{
    position: relative;
    width: 550rpx;
    height: 100%;
    padding-right: 30rpx;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .arrow{
      position: absolute;
      top: 36rpx;
      right: 30rpx;
    }
    .weight-inp{
      width: 400rpx;
    }
  }
  .mark-item{
    .remark-box{
      .remark{
        width: 100%;
        height: 140rpx;
        padding: 20rpx;
        box-sizing: border-box;
        line-height: 36rpx;
        color: #333;
        font-size: 28rpx;
      }
    }
  }
  .setcolor{
    color: #ccc;
    font-size: 28rpx;
  }
  .form-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100rpx;
    line-height: 100rpx;
    background: #fff;
    font-size: 0;
    .left{
      display: inline-block;
      width: 60%;
      color: #999;
      padding-left: 30rpx;
      font-size: 24rpx;
      box-sizing: border-box;
    }
    .right{
      display: inline-block;
      width: 40%;
    }
    .price-icon{
      margin: 0 16rpx;
      font-size: 36rpx;
      color: #474747;
      font-weight: bold;
      vertical-align: middle;
    }
    .price{
      font-size: 44rpx;
      color: #474747;
      vertical-align: middle;
    }
    .small{
      font-size: 28rpx;
      margin-left: 4rpx;
    }
  }
  .btn-save{
    background-color: #fff4b5;
    font-size: 32rpx;
    color: #999;
    text-align: center;
    &.canSubmit{
      background-color: #FFDB08;
      color: #474747;
    }
  }
  .rule{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 30rpx;
    font-size: 24rpx;
    color: #1D61F0;
    margin-top: 20rpx;
    padding-bottom: 120rpx;
  }
  .margin{
    height: 100rpx;
  }

}
